@import './utils/variabes';
@import './utils/base';
@import './layout/header';
@import './layout/hero';
@import './modal window/forma';
@import './layout/section one';
@import './layout/section two work';
@import './layout/section our team';
@import './layout/section clients';
@import './layout/footer';
@import './modal window/forma conect';
@import './layout/section portfolio';
@import './modal window/forma-menu';