.backdrop {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(197, 149, 149, 0.2);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
.menu-button{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}
.modal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // min-width: 528px;
    // min-height: 581px;
    min-width: 450px;
    min-height: 609px;
    background-color: red;
  }